apiVersion: v1
kind: ConfigMap
metadata:
  name: oficina-api-config
  namespace: oficina
data:
  DB_URL: "jdbc:postgresql://${db_endpoint}/${db_name}"
  PORT: "8080"
  NOTIFICACAO_CANAL: "smtp"
  SMTP_HOST: "oficina-mailhog"
  SMTP_PORT: "1025"
  MAIL_FROM: "oficina@example.com"
  MANAGEMENT_TRACING_ENABLED: "false"
