apiVersion: v1
kind: Secret
metadata:
  name: oficina-api-secret
  namespace: oficina
type: Opaque
stringData:
  DB_USER: "${db_username}"
  DB_PASS: "${db_password}"
  JWT_SECRET: "${jwt_secret}"
  ADMIN_PASSWORD: "${admin_password}"
